Source: webmounter
Priority: extra
Maintainer: Yuri Ershov <eryv@yandex.ru>
Build-Depends: debhelper (>= 7.2.3)
Standards-Version: 3.7.3

Package: webmounter
Architecture: any
Depends: ${shlibs:Depends}, 
Description: Web Mount service application

Package: libwmbase0
Architecture: any
Depends: ${shlibs:Depends}
Description: Web Mount service base classes

Package: libwmui0
Architecture: any
Section: libdevel
Depends: 
  ${shlibs:Depends}
Description: Web Mount service UI base classes

Package: libwmbase-dev
Architecture: any
Section: libdevel
Depends: libwmbase0
Description: Web Mount service development library

Package: libwmui-dev
Architecture: any
Section: libdevel
Depends: libwmui0
Description: Development headers for libwmui

Package: libjmm0
Architecture: any
Depends: ${shlibs:Depends}
Section: libdevel
Description: Web Mount service JMM plugins utility library

Package: libjmm-dev
Architecture: any
Section: libdevel
Depends: libjmm0, libwmbase0, ${shlibs:Depends}
Description: Development headers for libjmm0

Package: libjmma-plugin
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}
Description: Web Mount serivce JMM Article plugin providing access to ???.

Package: libjmmg-plugin
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}
Description: Web Mount serivce JMM Gallery plugin providing access to ???

Package: libyaf-plugin
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}
Description: Web Mount service plugin providing access to Yandex.Fotki file repository.

Package: libvk-plugin
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}
Description: Web Mount service plugin providing access to Vkontakte file repository.

Package: libgoogle-plugin
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}
Description: Web Mount service plugin providing access to Google docs storage.

Package: webmounter-dbg
Architecture: any
Section: libdevel
Depends: contacts (= ${binary:Version})
Description: Debug symbols for Web Mount service.

